<ion-view view-title="{{'account' | translate}}">
  <ion-content>
    <div class="row">
      <h1 class="col col-33 col-offset-33">Log in</h1>
    </div>
    <div class="list">
      <label class="item item-input">
        <span class="input-label" translate>email</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label" translate>password</span>
        <input type="password">
      </label>
    </div>
    <div class="padding">
      <button type="button" class="button button-block button-positive" translate>signIn</button>
      <button type="button" class="button button-block button-calm" translate>signUp</button>
    </div>
  </ion-content>
</ion-view>
