<ion-view view-title="{{'favouritesSite' | translate}}">
  <ion-content>
    <ul class="list">
    	<li class="item">Favorito 1</li>
    	<li class="item">Favorito 2</li>
    	<li class="item">Favorito 3</li>
    	<li class="item">Favorito 4</li>
    	<li class="item">Favorito 5</li>
    	<li class="item">Favorito 6</li>
    	<li class="item">Favorito 7</li>
    	<li class="item">Favorito 8</li>
    	<li class="item">Favorito 9</li>
    	<li class="item">Favorito 10</li>
    </ul>
  </ion-content>
</ion-view>
